<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/spring-48px.png}" sizes="48x48" />
    <title>JJDZR11 Aplikacja Webowa z Thymeleaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <div class="card mt-5" style="width: 50%; margin: 0 auto;">
            <div class="card-body">
                <h3 class="card-title">Witaj gościu!</h3>
                <p class="card-text">Mamy dziś <span th:text="${dateTime}"></span></p>
                <a class="btn btn-success" th:href="@{/info}">Informacje o autorze</a>
                <a class="btn btn-primary" th:href="@{/players}">Lista graczy</a>
            </div>
        </div>
    </div>
</body>
</html>