<div th:fragment="content" class="container">
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Poziom</th>
            <th>Ilość rozegranych gier</th>
            <th>Ilość wygranych gier</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.id}"></td>
            <td th:text="${player.name}"></td>
            <td th:text="${player.level.label}"></td>
            <td th:text="${player.gamesPlayed}"></td>
            <td th:text="${player.gamesWon}"></td>
        </tr>
        </tbody>
    </table>
</div>