<div th:fragment="content" class="container">
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Ilość rozegranych gier</th>
            <th>Ilość wygranych gier</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${player1}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{gamesPlayed}"></td>
            <td th:text="*{gamesWon}"></td>
        </tr>
        <tr th:object="${player2}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{gamesPlayed}"></td>
            <td th:text="*{gamesWon}"></td>
        </tr>
        </tbody>
    </table>
</div>